/* Global Defaults */
@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0px;
}
html, body {
    background: black;
    color: white;
    font: 1em/1.25 'Lato', Arial, Helvetica, sans-serif;
    letter-spacing: .3px;
}
/* Headlines */
 h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
/* Text Styles */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea, button {
    font: normal normal normal 1em/1.25 'Lato', Arial, Helvetica, sans-serif;
}
/* Links and Images */
 a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}
img {
    width: inherit;
    /*height: inherit;*/
    max-width: 100%;
    max-height: 900px;
    height: 900px;
}
/* Application Specific */
#page {
    display: none;
    /* background: scroll center top/auto 100%; */
}
#page, #initialize {
    height: 900px;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
    border-radius: 5px;
}
#initialize {
    padding: 180px;
}
#initialize div {
    padding: 10px 20px 0;
}
#pageText {
    width: 600px;
    padding: 0 150px;
    position: absolute;
    top: 280px;
}
#pageText p {
    text-align: center;
    text-shadow: 1px 1px 2px #1F232B, 1px 1px 5px #1F232B, 1px 1px 10px #1F232B;
}
#response, #battle {
    position: relative;
    bottom: 300px;
}
#battle {
    display: none;
}
/* styles for choices/battles */
.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.choice {
    border-radius: 3px;
    margin: 10px 20px 5px;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
}
.choice:hover,
.choice:active {
    background-color: rgba(255,255,255,0.3);
    color: white;
}
.undefined {
    background-color: rgba(170,154,105, 0.3);
    color: white;
}
.undefined:hover,
.undefined:active {
    background-color: rgba(170,154,105,0.8);
    color: #1F232B;
}
.yellow {
    background-color: rgba(255,255,0,0.3);
}
.yellow:hover,
.yellow:active {
    background-color: rgba(255,255,0,0.8);
    color: #1F232B;
}
.orange {
    background-color: rgba(255,165,0,0.3);
}
.orange:hover,
.orange:active {
    background-color: rgba(255,165,0,0.8);
    color: #1F232B;
}
.orangered {
    background-color: rgba(255,69,0,0.3);
}
.orangered:hover,
.orangered:active {
    background-color: rgba(255,69,0,0.8);
    color: #1F232B;
}
.red {
    background-color: rgba(255,0,0,0.3);
}
.red:hover,
.red:active {
    background-color: rgba(255,0,0,0.8);
    color: #1F232B;
}
.lightgreen     {
    background-color: rgba(144,238,144,0.3);
}
.lightgreen:hover,
.lightgreen:active {
    background-color: rgba(144,238,144,0.8);
    color: #1F232B;
}
.green     {
    background-color: rgba(0,255,0,0.3);
}
.green:hover,
.green:active {
    background-color: rgba(0,255,0,0.8);
    color: #1F232B;
}
.lightblue {
    background-color: rgba(173,216,230,0.3);
}
.lightblue:hover,
.lightblue:active {
    background-color: rgba(173,216,230,0.8);
    color: #1F232B;
}
.blue {
    background-color: rgba(0,0,255,0.3);
}
.blue:hover,
.blue:active {
    background-color: rgba(0,0,255,0.8);
    color: #1F232B;
}
.black {
    background-color: rgba(0,0,0,0.3);
    color: red;
}
.black:hover,
.black:active {
    background-color: rgba(0,0,0,0.8);
    color: red;
}
.diclaimer {
    text-align: center;
    color: grey;
    font-size: 10px;
    line-height: 1.5;
}
/* Animations */
.fadeIn2 {
    -webkit-animation: fadeIn 2s ease-in-out 0.3s backwards;
    animation: fadeIn 2s ease-in-out 0.3s backwards;
}
/* Animations generated from animista.net */
.fadeIn {
	-webkit-animation: fadeIn 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: fadeIn 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fadeLeft {
	-webkit-animation: fadeLeft 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
	animation: fadeLeft 0.4s cubic-bezier(0.175, 0.885, 0.320, 1.275) 1s both;
}
@-webkit-keyframes fadeLeft {
    0% { -webkit-transform: translateX(-300px); opacity: 0; }
    100% { -webkit-transform: translateX(0); opacity: 1; }
}
@keyframes fadeLeft {
    0% { transform: translateX(-300px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}
#pageImg, #pageImg img {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}
