/* Global Defaults */
@import url('https://fonts.googleapis.com/css?family=Lato');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    border: 0px;
    background: black;
    color: white;
}
body {
    font: 1em/1.25 Arial, Helvetica, sans-serif;
}
/* Headlines */
 h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
/* Text Styles */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
    margin: 0;
    padding: 0;
    font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
}
/* Links and Images */
 a, a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}
img {
    border: none;
    width: inherit;
    /*height: inherit;*/
    max-width: 100%;
    max-height: 900px;
    height: 900px;
}
/* Application Specific */
#page {
    display: none;
    margin: 0 auto;
    background: scroll center top/auto 100%;
}
#page, #initialize {
    height: 900px;
    margin: 0 auto;
    max-width: 600px;
    overflow: hidden;
}
#initialize {
    padding: 180px;
}
#initialize div {
    padding: 10px 20px 0;
}
#pageText {
    position: absolute;
    color: white;
    top: 280px;
    text-shadow: 1px 1px 2px #1F232B, 1px 1px 5px #1F232B, 1px 1px 10px #1F232B;
    padding: 0 150px;
    max-width: inherit;
}
#pageText p {
    text-align: center;
}
#response, #battle {
    position: relative;
    bottom: 300px;
}
#battle {
    display: none;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.choice {
    background-color: rgba(170,154,105, 0.3);
    font-size: 1em;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
    margin: 10px 20px 5px;
    text-align: left;
    cursor: pointer;
}
.choice:hover,
.choice:active {
    background-color: rgba(170,154,105, 0.8);
    color: #1F232B;
}
.diclaimer {
    text-align: center;
    color: grey;
    font-size: 10px;
    line-height: 2;
}
.fadeIn {
    -webkit-animation: fadeIn 0.5s ease-in-out 0.3s backwards;
    -moz-animation: fadeIn 0.5s ease-in-out 0.3s backwards;
    -o-animation: fadeIn 0.5s ease-in-out 0.3s backwards;
    -ms-animation: fadeIn 0.5s ease-in-out 0.3s backwards;
    animation: fadeIn 0.5s ease-in-out 0.3s backwards;
}
@-webkit-keyframes fadeIn {
	0%{left:-30px; opacity: 0;}
	100%{left:0px; opacity: 1;}
}
@-moz-keyframes fadeIn {
    0%{left:-30px; opacity: 0;}
	100%{left:0px; opacity: 1;}
}
@-o-keyframes fadeIn {
    0%{left:-30px; opacity: 0;}
	100%{left:0px; opacity: 1;}
}
@-ms-keyframes fadeIn {
    0%{left:-30px; opacity: 0;}
	100%{left:0px; opacity: 1;}
}
@keyframes fadeIn {
    0%{left:-30px; opacity: 0;}
	100%{left:0px; opacity: 1;}
}
